* {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 103px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-style: normal;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(216, 205, 222);
}

nav .NAme {
  max-width: 100%;
  margin: 0 0 0 60px;
}

nav .NAme a {
  color: #473243;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
  text-decoration: none;
}

nav .oPtions {
  max-width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
  margin: 0 60px 0 0;
}

nav .oPtions a {
  color: #473243;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  height: 50px;
  text-decoration: none;
  letter-spacing: 0.5px;
}

.oPtions .links::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #473243;
  transition: width 0.2s ease-in;
}

.oPtions .links:hover::after,
.oPtions .links.active::after {
  width: 100%;
}

.oPtions .button1 {
  width: 130px;
  height: 40px;
  border: 1px solid #473243;
  background-color: #473243;
  border-radius: 25px;
  color: white;
  padding: 3px;
}

.oPtions .button1:hover {
  transition: 0.3s ease;
  background-color: rgb(216, 205, 222);
  color: #473243;
}

.Side {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 251, 251, 0.7);
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  box-shadow: -10px 0 10px rgba(155, 155, 155, 0.608);
  animation: slideIn 0.4s ease forwards;
}

.Side a {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: #473243;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
}

.Side a:first-child {
  padding: 20px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.Side .links::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #473243;
  transition: width 0.2s ease-in;
}

.Side .links:hover::after,
.Side a.links.active::after {
  width: 100%;
}

.Side.slidein {
  animation: open 0.4s ease-in forwards;
}

.Side.slideout {
  animation: close 0.4s ease-in forwards;
}

.menu {
  display: none;
}

@keyframes open {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

main {
  width: 85%;
  height: auto;
  margin: 107px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}

.desc1 {
  padding: 10px 10px;
  max-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.desc1 h1 {
  font-size: 3rem;
  font-weight: 500;
  font-family: Libre Baskerville;
  text-align: center;
  max-width: 100%;
}

.desc1 p {
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.3px;
  width: 100%;
  text-align: center;
  max-width: 100%;
}

.desc1 a {
  margin: 7px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border: 1px solid #473243;
  background-color: #473243;
  border-radius: 25px;
  color: white;
  padding: 3px;
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

.desc1 a:hover {
  transition: 0.3s ease;
  background-color: rgb(216, 205, 222);
  color: #473243;
}

.backimg {
  width: 100%;
  height: 780px;
  overflow: hidden;
  position: relative;
}

.backimg .img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.Part1 {
  border: 1px solid black;
  margin: 80px 0 80px 0;
  width: 100%;
  height: 548.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cons1 {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cons1 h1 {
  max-width: 400px;
  font-size: 3rem;
  font-weight: 400;
  font-family: Libre Baskerville;
  margin: 0 0 20px 0;
  color: #473243;
}

.cons1 p {
  max-width: 400px;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.3px;
  text-align: justify;
  text-align-last: left;
  color: #473243;
}
@media(max-width:768px) {
  header {
    height: 70px;
  }

  nav {
    gap: 15px;
  }

  .hide {
    display: none;
  }

  .menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 0;
  }

  nav .NAme {
    margin: 0 0 0 20px;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
  }

  nav .oPtions {
    margin: 0;
  }

  nav .button1 {
    max-width: 100px;
    font-size: 14px;
  }

  main {
    width: 90%;
  }

  main .desc1 h1 {
    font-size: 1.7rem;
  }

  main .desc1 p {
    font-size: 1.4rem;
  }

  .desc1 a {
    max-width: 100px;
    font-size: 14px;
  }

  .backimg {
    height: 90vw;
  }

  .curve {
    height: 50px;
  }

  .Part1 {
    display: flex;
    height: 800px;
    flex-direction: column;
    margin: 20px 0 20px 0;
  }

  .cons1 {
    width: 90%;
    height: 300px;
  }

  .cons1 h1 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    text-align: center;
    color: #473243;
  }

  .cons1 p {
    font-size: 1.4rem;
    text-align: center;
    text-align-last: center;
  }
}